h1 {
   text-align: center;
   color: #08123f;
}

h2 {
   color: #08123f; 
}

div {
   text-align: left;
}

body {
   background-color: #bcc7e1;
}

#faultyItems {
   visibility: hidden;   
}

#launchForm {
   background-color: #ccd1e6;
   text-align: center;
   color: #08123f;
   margin: auto;
   width: 50%;
   border: 3px solid #7e849a;
   padding: 10px;
   border-radius: 8px;

}

#launchStatusCheck {
   background-color: #a5aed5;
   text-align: center;
   margin: 50px auto;
   width: 50%;
   border: 3px solid #7e849a;
   padding: 10px;
   border-radius: 8px;

}

#missionTarget img {
   max-width: 40%;
   max-height: 250px;
   border-radius: 8px;

}

#missionTarget {
   background-color: #a5aed5;
   text-align: center;
   margin: 50px auto;
   width: 50%;
   border: 3px solid #7e849a;
   padding: 10px;
   border-radius: 8px;

}

button {
   background-color: #132976;
   border: none;
   color: #ededed;
   border-radius: 8px;
   width: 45%;
   height: 30px;
   margin: 10px 0;
}